.body {
    transition: background 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation-duration: 2s;
}

.container1 {
    transform: scale(1.4);
    width: 240px;
    height: 90px;
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 0px 10px yellow;
}

.container2 {
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    position:absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 200px;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 6.5px;
    margin-left: 2.8%;
    box-shadow: 0px 0px 10px yellow;

}

.button {
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    width: 202px;
    height: 52px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: larger;
    border-width: 10px;
    border-color: aliceblue;
}

.button:hover {
    transition: 0.8s;
    border-color: rgb(102, 102, 102);
    background-color: rgb(102,102,102);
    color: white;
    text-shadow: 0px 0px 10px yellow;
    box-shadow: 0px 0px 10px yellow;
}

@keyframes firstanimation{
/*    0%{background-color: rgb(0, 255, 255);}
    20%{background-color: rgb(180, 179, 179);}
    30%{background-color: rgb(105, 105, 105);}
    40%{background-color: rgb(95, 94, 94);}
    50%{background-color: rgb(63, 63, 63);}
    60%{background-color: rgb(36, 36, 36);}
    70%{background-color: rgb(24, 24, 24);}
    80%{background-color: rgb(0, 0, 0);}
    90%{background-color: rgb(0, 88, 88);}
    100%{background-color: rgb(0, 255, 255);}

    50%{background-color: black;}
    */
}


.button:active{
    background-color:rgb(0, 0, 0);
    border-color:black;
    transition: 0.8s;
    color: white;
    text-shadow: 0px 0px 100px yellow;
    box-shadow: 0px 0px 100px yellow;
}

li:nth-child(odd){
    background-color: rgb(255, 0, 0);
}

.nigga{
    text-shadow: 0px 0px 10px yellow;
    box-shadow: 0px 0px 10px yellow;
    box-sizing: border-box;
    animation: mynigga;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-duration: 5s;
    background-color:transparent;

}

@keyframes mynigga {
    from{margin-left: 100%;}
    to{margin-left: 0%;}
    100%{transform: rotateZ(360deg);}
    50%{transform: scale(0.5);}
    50%{background-color: aqua;}
    0%{color:white}
    50%{color: black;}
    100%{color:white}
}


.container3{
    height: 180px;
    padding-top: 40px;
    width: 600px;
    border: solid;
    background-color:transparent;
    border-color: transparent;
    border-width: 20px;
    position: absolute;
    top: -50px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    align-items: center;
    justify-content: center;   
    align-content: center;
    animation-name: mynigga;
    animation-iteration-count: infinite;
    animation-duration: 5;
}

a:link {
    /*color: rgb(255, 208, 0);*/
    color: transparent;
}

a:visited{
    /*color: red;*/
    color: transparent;
}

a:hover{
    /*color:rgb(0, 255, 255)*/
    color: transparent;
}

a:active{
    /*color: yellow;*/
    color: transparent;
    
}

.counterBox {
    justify-self: center;
    position: relative;
    top: 90px;
    right: 0;
    left: 0;
    font-family: 'DS-Digital', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    transform: scale(2);
    transition: color 0.5s ease-in-out;
    text-shadow: 0px 0px 5px black;
}
